@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





@model IEnumerable<WebApplication3.Models.Emp,Dept>

@{
    ViewData["Title"] = "Employee Details";
}
<h1>Employee Information</h1>
<h1>@ViewBag.Message</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
          

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="IDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

               </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.Deptid)
            </td> *@
            </tr>
        }
    </tbody>
</table>